# Environment variables
.env

# Node.js
node_modules/

# Go
bin/
coverage.out

# IDEs
.vscode/
.idea/

# Binaries
/bot
/realbot
/diagnose
/wstest
/market-bot
/latency-bench
/latency-test
/real-bot
/main
/fetchbook
bot_activity.csv
/paperbot
/manual
/manualbot
/mergeredeem
/util
/utilbot
/derivekey
